.App {
  text-align: left;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  min-height: 50vh;
  justify-content: center;
}

.static-text {
  padding: 1.2em;
}

.project-panel {
  border: 2px solid #333;
  border-radius: 10px;
  color: #333;
  float: left;
  font-size: calc(10px + 1vmin);
  height: 50vh;
  margin: 1em;
  padding: 1.2em;
  text-align: left;
  width: 50vh;
}

a {
  color: #1e5213;
}
