.App {
  text-align: center;
}

.App-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 50vh;
  justify-content: center;
}

.project-panel {
  background: #efcf82;
  border-radius: 10px;
  color: #652e05;
  float: left;
  font-size: calc(10px + 1vmin);
  height: 250px;
  margin: 1em;
  padding: 1.2em;
  text-align: left;
  width: 350px;
}

a {
  color: #1e5213;
}
